<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>七牛图床</title>
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootswatch/3.3.4/readable/bootstrap.min.css" type="text/css" media="all" />
        <style type="text/css">
            .setting-msg {
                display: none;
            }
        </style>
        {% block style %}
        {% end %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">七牛图床</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/upload">上传图片</a></li>
                    <li class=""><a href="/myfile">我的图片</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container main">
            {% block main %}{% end %}
        </div>

        <!-- 设置 -->
        <div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="settingModalLabel">设置</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-dismissible setting-msg" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p></p>
                    </div>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="qiniu-config-ak" class="col-sm-2 control-label">AK</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="qiniu-config-ak" placeholder="七牛 Access Key">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="qiniu-config-sk" class="col-sm-2 control-label">SK</label>
                            <div class="col-sm-10">
                            <input type="password" class="form-control" id="qiniu-config-sk" placeholder="七牛 Secret Key">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="qiniu-config-bucket" class="col-sm-2 control-label">Bucket</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="qiniu-config-bucket" placeholder="七牛 bucket">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="qiniu-config-domain" class="col-sm-2 control-label">域名</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="qiniu-config-domain" placeholder="七牛域名">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="clearfix">
                        <div class="pull-left">
                            <button type="button" class="btn btn-danger" id="clear-settings">清除保存信息</button>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="save-settings">保存</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/dropzone/4.0.1/min/dropzone.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://cdn.bootcss.com/unveil/1.3.0/jquery.unveil.min.js"></script>
        <script src="http://cdn.bootcss.com/store.js/1.3.14/store.min.js"></script>
        <script src="http://cdn.bootcss.com/crypto-js/3.1.2/rollups/hmac-sha1.js"></script>
        <script src="http://cdn.bootcss.com/crypto-js/3.1.2/components/enc-base64-min.js"></script>
        <script src="/static/js/qiniu-token.js"></script>
        <script type="text/javascript" src="/static/js/key.js"></script>
        <!-- Settings Key -->
        {% block script %}
        {% end %}
    </body>
    {% if ga %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ga}}', 'auto');
    ga('send', 'pageview');

</script>
    {% end %}
</html>
